<div class="container">
    <h2>Conversor de unidades</h2>
    <form>
    <div></div>
      <div class="form-group">
        <label for="unidade1">Unidade 1:</label>
        <select class="form-control" id="unidade1">
          <option value="celsius">Celsius</option>
          <option value="fahrenheit">Fahrenheit</option>
          <option value="kelvin">Kelvin</option>
        </select>
      </div>
      <div class="form-group">
        <label for="unidade2">Unidade 2:</label>
        <select class="form-control" id="unidade2">
          <option value="metros">Metros</option>
          <option value="quilometros">Quilômetros</option>
          <option value="milhas">Milhas</option>
        </select>
      </div>
      <div class="form-group">
        <label for="unidade3">Unidade 3:</label>
        <select class="form-control" id="unidade3">
          <option value="quilogramas">Quilogramas</option>
          <option value="gramas">Gramas</option>
          <option value="libras">Libras</option>
        </select>
      </div>
      <div class="form-group">
        <div class="form-group">
            <label for="valor2">Valor convertido:</label>
            <input type="text" class="form-control" name="valor2" [(ngModel)]="valor2"  (input)="converter()">
          </div>
          
          <div class="form-group">
            <label for="valor3">Valor convertido:</label>
            <input type="text" class="form-control" name="valor3" [(ngModel)]="valor3"  (input)="converter()">
          </div>
          